/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2016, 8:55:11 PM
    Author     : HarunRRayhan
*/

body, input{
    font: 0.9em Tahoma, sans-serif;
}
.title{
    font-weight: normal;
}
.container{
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    
}
input{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 0;
}
input[type="url"] {
    width: 300px;
}